/* Makes our label white. */
.blocklyTreeLabel {
    color: black;
  }
  /* Adds padding around the group of categories and separators. */
  .blocklyToolboxContents {
    padding: 0.5em;
  }
  /* Adds space between the categories, rounds the corners and adds space around the label. */
  .blocklyTreeRow {
    padding: 3px;
    margin-bottom: 0.5em;
    border-radius: 4px;
  }